extends layout

block content
  .container(style='margin-top:80px')
    .row
     h3.text-info
       | This is an open source project for students on campus. It is an ongoing project
       | and anyone is welcome to contribute.  
       | We are thinking adding more features.
       | So we need your ideas and talents.
     a(href='https://www.facebook.com/groups/755603714450298/', target='_blank').btn.btn-default.btn-lg Facebook
     a(href='https://github.com/cjackie/studentMarket', target='_blank', style='margin-left:50px;').btn.btn-default.btn-lg Github
     
       
     


