doctype html
html
  head
    title Logout
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
  body
    .container
      .row(style="width:500px;margin:auto;margin-top:30px")
        .col-md-9
          h2.text-success="You have successfully logout"
