doctype html
html
  head
    title Congrats
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
  body
    .container
      .row(style="width:600px;margin:auto")
        .col-md-9
          h2.text-success="You have successfully registered an account, please check your Stony Brook email to verify your account."
        .col-md-3
          img(src='images/smiley.jpg', height='150px', width='150px')